<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="dashboard px-32 pt-40">
      <div class="flex justify-between mb-32">
        <h5
          class="text-28 text-weight-bold q-my-none text-dashboard-primary"
          style="line-height: 30.17px"
        >
          To-Do List
        </h5>
        <q-btn
          :to="{ name: 'add-new-task' }"
          class="bg-dashboard-primary text-white"
          unelevated
          rounded
          no-caps
          size="16px"
          padding="6px 16px 6px 16px"
          label="Create task"
          style="width: 146px"
        />
      </div>
      <div class="flex items-center" style="gap: 10px; margin-bottom: 60px">
        <label class="text-weight-bold">Filters: </label>
        <q-input
          rounded
          borderless
          class="q-px-sm"
          style="border: 1px solid black; border-radius: 999px"
          dense
          placeholder="Search"
          v-model="search"
        />
      </div>
      <BoardList :search="search" />
    </div>
  </transition>
</template>

<script src="./scripts/Dashboard.js"></script>

<style lang="scss">
@import './styles/Dashboard.scss';
</style>
