<template>
  <div class="container">
    <div class="login">
      <div class="title">LOG IN</div>
      <!---Form-->
      <div>
        <label></label>
        <q-input
          
          outlined
          color="teal"
          v-model="text"
          :dense="dense"
          label="Enter Username"
          label-color="grey"
          class="uname"
          required
        >
          
        </q-input>
      </div>
      <div>
        <q-input
          
          outlined
          color="teal"
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
          
          label="Enter Password"
          
          class="pword"
          required
          >
          
        </q-input>
        <div>
          <q-btn unelevated rounded label="Login" class="loginbtn" :to="{ name: 'onboarding' }"/>
        </div>
        <div class="forgot">
        
        <q-btn flat unelevated class="forgotbtn">Forgot Password?</q-btn>
      </div>
      </div>
      
      
    </div>
  </div>
</template>
<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      text: ref(""),
      ph: ref(""),
      dense: ref(false),
      password: ref(""),
      isPwd: ref(true),
    };
  },
};
</script>
<style lang="scss" scope>
//Desktop
.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  .title {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro";
    font-weight: 700;

    min-height: 34px;
    min-width: 58px;
    font-size: 58px;
    text-align: center;
    white-space: nowrap;
  }
  .uname,
  .pword {
    border-radius: 12px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 19.6px;
    padding-top: 0;
    padding-bottom: 0;
    
    opacity: 0.8;
  }
  .uname {
    margin-top: 43px;
  }
  .pword {
    margin-top: 33px;
  }
  .forgot {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .forgotbtn {
    text-transform: capitalize;
  }

  .loginbtn {
    border-radius: 30px;
    background-color: #249990,;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400; // regular
    color: #ffffff;
    text-transform: none;
    text-align: center;
    padding: 2px 83px;
    height: 14px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 420px;
  }
}
//Mobile
@media screen and (max-width: 767px) {
  .container {
    height: 100%;

    .login {
      min-height: 374px;
      width: 320px;
      position: absolute;
    }
    .title {
      font-weight: 700;
      line-height: 22px;
      min-height: 34px;
      min-width: 58px;
      font-size: 22px;
    }
    .uname,
    .pword {
      border-radius: 12px;
      width: 320px;
    }
    .uname {
      margin-top: 43px;
    }
    .pword {
      margin-top: 33px;
    }
    .forgot {
      font-weight: 400;
      line-height: 15px;
      margin-top: 12px;
      text-align: right;
      color: white;
    }

    .loginbtn {
      border-radius: 8px;

      font-size: 12px;

      height: 32px;
      font-weight: bold;

      width: 201px;
    }
  }
}
//Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-width: 768px;
    max-height: 1024px;
    .login {
      min-height: 334px;
      width: 549px;
      position: absolute;
    }
    .title {
      font-size: 20px;
    }
    .uname,
    .pword {
      width: 546px;
    }
    .uname {
      margin-top: 50px;
    }
    .pword {
      margin-top: 38px;
    }
    .forgot {
      font-size: 16px;
    }

    .loginbtn {
      border-radius: 20px;

      font-size: 14px;

      height: 41px;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600");
</style>
