<template>
  <div class="width-300">
    <div class="full-width flex justify-center q-mb-md">
      <div class="cf-border-radius-10 bg-inherit width-auto q-pa-sm">
        <q-icon name="error" color="teal" size="40px" />
      </div>
    </div>
    
    <!-- Your custom modal content here -->
    <div class="text-weight-bold">
      <p>Are you sure you want to delete this To-Do List?</p>
    </div>
    <div>
      <p>
        This process cannot be undone.<br />
        By confirming, this account will be deleted. To go back Click "Cancel"
      </p>
    </div>
    <div class="q-mt-xl flex justify-around">
      <q-btn
        @click="handleDisagree"
        no-caps
        label="Cancel"
        style="border: 1px solid teal; height: 32px; width: 110px"
        rounded
      />
      <q-btn
        @click="handleAgree"
        no-caps
        label="Yes"
        color="teal"
        rounded
        style="height: 32px; width: 110px"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CustomModal',
  setup(_, context) {
    const { emit } = context;

    const handleAgree = () => {
      emit('agree');
    };
    const handleDisagree = () => {
      emit('disagree');
    };

    return {
      handleAgree,
      handleDisagree
    };
  }
});
</script>
