@import './global.scss';

.board-header-outside {
  border-radius: 16px 16px 0 0;
  position: absolute;
  top: 0;
  left: -1px;
  transform: translateY(-100%);
}

.ba-gray {
  border: 1px solid rgba(30, 30, 30, 0.4);
}

.br-8 {
  border-radius: 8px;
}

.btlr-0 {
  border-top-left-radius: 0;
}

.p-10-24 {
  padding: 10px 24px 10px 24px;
}

.min-h-200 {
  min-height: 200px;
}

.w-184 {
  width: 184px;
}

.h-104 {
  height: 104px;
}

// HOVER
.q-menu .q-list .q-item:hover {
  background-color: #249990;
  color: white;
}
