$dashboard-primary: #249990;

.bg-dashboard-primary {
  background-color: $dashboard-primary;
}

.text-dashboard-primary {
  color: $dashboard-primary;
}

.border-dashboard-primary {
  border: 1px solid #249990;
}

.border-dashboard-color {
  border-color: #249990;
}
